<p><strong>Connectome Workbench Tutorial Data: Terms of Use</strong></p>
<p>I request access to data collected by the Washington University - University of Minnesota Consortium of the Human Connectome Project (WU-Minn HCP), and I agree to the following:</p>
<ol>
	<li>By downloading the Connectome Workbench Beta tutorial dataset, I will receive access to de-identified data from the WU-Minn HCP. I will not attempt to establish the identity of, or attempt to contact any of these subjects.</li>
	<li>I understand that under no circumstances will the code that would link these data to Protected Health Information be given to me.</li>
	<li>I will comply with any rules and regulations imposed by my institution and its institutional review board in requesting these data.</li>
	<li>The processed connectivity data in the Connectome Workbench Beta tutorial dataset are solely for the purpose of beta testing Connectome Workbench software. Therefore, I understand that <strong>redistribution of original or derived data from the Connectome Workbench Beta tutorial dataset is not permitted.</strong> </li>
	<li>The methods used to process MRI data in Connectome Workbench Beta tutorial dataset are still under development, have not been previously disclosed and cannot be referenced. Therefore, I understand that <strong>any results I obtain from the Connectome Workbench Beta tutorial dataset should not be published or publicly presented.</strong> (Other datasets available through the HCP may be subject to separate Data Use Terms.)</li>
	<li>Use of the Conte 69 atlas is not subject to the above restrictions on redistribution and publishing.</li>
	<li>Failure to abide by these guidelines will result in termination of my privileges to access WU-Minn HCP data.</li>
</ol>
<p>v. 2013-01-15</p>