#* @vtlvariable name="siteConfig" type="java.util.Properties" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatImagesessiondata" *#
#* @vtlvariable name="scan" type="org.nrg.xdat.om.XnatImagescandata" *#
#* @vtlvariable name="resource" type="org.nrg.xdat.om.XnatAbstractresource" *#
<!--BEGIN /screens/xnat_imageSessionData/xnat_imageSessionData_scans.vm -->
#macro(renderEmptyResourceCount)
    #if ($user.canEdit($item))
    <a onclick="window.viewer.init(true);">Show Counts</a>
    #else
        #displayListAsTipText(["0 B in 0 files", "No files were found associated with this scan. Contact a member or owner of this project to generate the file count data."])
    #end
#end

<h2 class="expts_header">Acquisition Details #if($scanWFiles>0)<span id="total_dicom_files" class="totals" style="margin-left: 15px"><a onclick="window.viewer.init();">Show all file counts</a></span>#end</h3>
#set($scanAssessors =$!om.getScanAssessors())
#set($fileIndex="4")

<div class="scanTable-container">
<table cellPadding="0" cellSpacing="0" border="0" class="scanTable">
  <tr>
    <th class="underscore" align="left">Scan</th>
    <th class="underscore" align="left">Type</th>
	<th class="underscore" align="left">Description</th>
	<th class="underscore" align="left">Files</th>
    <th class="underscore" align="left">Note</th>
  </tr>
  
  #set ($scanCounter = 0)
  #set ($scanWFiles = 0)
  #foreach($scan in $om.getSortedScans())
    #set ($scanID =$!scan.getProperty("ID"))
	
	<tr valign="top">
      <td align="left" nowrap>
        <a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick="return show_tr($scanCounter);">
          <img id="IMG$scanCounter" src="$content.getURI('images/plus.jpg')" style="border: 0; margin-right: 6px;" />
            $scanID
        </a>
      </td>
      <td align="left" nowrap>$!scan.getProperty("type")</td>
	  <td align="left" nowrap>$!scan.getProperty("series_description")</td>
	
	  <td align="left">
            #if($scan.getFile().size()>0)
            <div id="scans_$!scan.getId()_stats" style='display:inline'>
                    #set($stats = $!scan.getReadableFileStats())
                    #if("$!stats.get(0)" == "" || $stats.size() == 0 || $stats.get(0).equals("0 B in 0 files"))
                            #renderEmptyResourceCount()
                    #elseif($stats.size() == 1)
                        $stats.get(0)
                    #else
                        #displayListAsTipText($stats)
                    #end
            </div>
    			#set ($scanWFiles = $scanWFiles+1)
            #else
                #renderEmptyResourceCount()
			#end
			#if($user.canEdit($om))
				<a class='uploadLink' style='display:none' href='' onclick='return false;' data-type='xnat:imageScanData' data-props='$!scan.getType()' data-uri='$content.getURI("/data/experiments/$om.getId()/scans/$scan.getId()")'>Upload</a>
			#end
	 </td>
        <td border=0 align=left NOWRAP>$!scan.getProperty("note")</td>
    </tr>
	
	<tr style="display:none" id="tr$!scanCounter" > <!-- display "details" tr on demand -->
      <td colspan="6" nowrap>
          #parse($turbineUtils.getTemplateName("_details",$scan.getXSIType(),$project))
      </td>
    </tr>
	#set ($scanCounter= $scanCounter + 1)
  #end	
  #if($scanWFiles>0)
     <tr>
	   <td colspan="3"></td>
	   <td colspan="3" style="white-space:nowrap;">
                    <div id="total_dicom_files" class="totals">
                        <b>Total:</b>
                        #set($sessionStats = $om.getSessionReadableScanStats())
                        #if("$!sessionStats.get(0)" == "" || $sessionStats.size() == 0 || $sessionStats.get(0).equals("0 B in 0 files"))
                            <a onclick="window.viewer.init(true);">Show Counts</a>
                        #else
                            #displayListAsTipText($sessionStats)
                        #end
                    </div>
	   </td>
     </tr>
  #end
</table>
</div>

<script type="text/javascript">
// replaces blocker() in xdat.js
function show_tr(i){
	var plusLocation = serverRoot+ "/images/plus.jpg";
	var minusLocation = serverRoot+ "/images/minus.jpg";
	
	var trDisplay = $('#tr'+i).css('display');
	if (trDisplay === 'none') {
		$('#tr'+i).show();
		$('#IMG'+i).src= plusLocation;
	} else {
		$('#tr'+i).hide();
		$('#IMG'+i).src= minusLocation;
	}
}
</script>

#set ($qcXsiType = "xnat:qcAssessmentData")
#parse($turbineUtils.getTemplateName("report_summary",$qcXsiType,$project))
<!--END /screens/xnat_imageSessionData/xnat_imageSessionData_scans.vm -->
