<table class="scan-details">
  #if($scan.getProperty("startTime"))
  <tr>
    <td>Time</td>
    <td align="left">$!scan.getProperty("startTime")</td>
  </tr>
  #end
  #if($scan.getProperty("quality"))
  <tr>
    <td>Quality</td>
    <td align="left">$!scan.getProperty("quality")</td>
  </tr>
  #end
  #if($scan.getProperty("condition"))
  <tr>
    <td>Condition</td>
    <td align="left">$!scan.getProperty("condition")</td>
  </tr>
  #end
  #if($scan.getProperty("series_description"))
  <tr>
    <td>Series description</td>
    <td align="left">$!scan.getProperty("series_description")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.sequence"))
  <tr>
    <td>Sequence</td>
    <td align="left">$!scan.getProperty("parameters.sequence")</td>
  </tr>
  #end
  #if($scan.getProperty("modality"))
  <tr>
    <td>Modality</td>
    <td align="left">$!scan.getProperty("modality")</td>
  </tr>
  #end
  #if($scan.getProperty("frames"))
  <tr>
    <td>Frames</td>
    <td align="left">$!scan.getProperty("frames")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.imageType"))
  <tr>
    <td>Image type</td>
    <td align="left">$!scan.getProperty("parameters.imageType")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.acqType"))
  <tr>
    <td>Acquisition type</td>
    <td align="left">$!scan.getProperty("parameters.acqType")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.scanSequence"))
  <tr>
    <td>Scan sequence</td>
    <td align="left">$!scan.getProperty("parameters.scanSequence")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.seqVariant"))
  <tr>
    <td>Sequence variant</td>
    <td align="left">$!scan.getProperty("parameters.seqVariant")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.scanOptions"))
  <tr>
    <td>Scan options</td>
    <td align="left">$!scan.getProperty("parameters.scanOptions")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.coil"))
  <tr>
    <td>Coil</td>
    <td align="left">$!scan.getProperty("parameters.coil")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.coilElements"))
  <tr>
    <td>Selected coil elements</td>
    <td align="left">$!scan.getProperty("parameters.coilElements")</td>
  </tr>
  #end
  #if($scan.getProperty("fieldStrength"))
  <tr>
    <td>Field Strength</td>
    <td align="left">$!scan.getProperty("fieldStrength")</td>
  </tr>
  #end
  #if($scan.getProperty("marker"))
  <tr>
    <td>Marker</td>
    <td align="left">$!scan.getProperty("marker")</td>
  </tr>
  #end
  #if($scan.getProperty("stabilization"))
  <tr>
    <td>Marker</td>
    <td align="left">$!scan.getProperty("stabilization")</td>
  </tr>
  #end
  #if($scan.getProperty("fileNameUUID"))
  <tr>
    <td>UUID</td>
    <td align="left">$!scan.getProperty("fileNameUUID")</td>
  </tr>
  #end
  #if($!scan.getProperty("parameters.voxelRes.x") || $!scan.getProperty("parameters.voxelRes.y") || $!scan.getProperty("parameters.voxelRes.z"))
  <tr>
    <td>Voxel resolution.</td>
    <td align="left">$!scan.getProperty("parameters.voxelRes.x"), $!scan.getProperty("parameters.voxelRes.y"), $!scan.getProperty("parameters.voxelRes.z")</td>
  </tr>
  #end
  #if($!scan.getProperty("parameters.fov.x") || $!scan.getProperty("parameters.fov.y"))
  <tr>
    <td>FOV</td>
    <td align="left">$!scan.getProperty("parameters.fov.x") x $!scan.getProperty("parameters.fov.y")</td>
  </tr>
  #end
  #if($!scan.getProperty("parameters.matrix.x") || $!scan.getProperty("parameters.matrix.y"))
  <tr>
    <td>Matrix</td>
    <td align="left">$!scan.getProperty("parameters.matrix.x") x $!scan.getProperty("parameters.matrix.y")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.partitions"))
  <tr>
    <td>Part.</td>
    <td align="left">$!scan.getProperty("parameters.partitions")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.orientation"))
  <tr>
    <td>Orientation</td>
    <td align="left">$!scan.getProperty("parameters.orientation")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.subjectPosition"))
  <tr>
    <td>Subject position</td>
    <td align="left">$!scan.getProperty("parameters.subjectPosition")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.tr"))
  <tr>
    <td>TR</td>
    <td align="left">$!scan.getProperty("parameters.tr")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.te"))
  <tr>
    <td>TE</td>
    <td align="left">$!scan.getProperty("parameters.te")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.deltaTE"))
  <tr>
    <td>&Delta; TE</td>
    <td align="left">$!scan.getProperty("parameters.deltaTE")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.ti"))
  <tr>
    <td>TI</td>
    <td align="left">$!scan.getProperty("parameters.ti")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.flip"))
  <tr>
    <td>Flip</td>
    <td align="left">$!scan.getProperty("parameters.flip")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.echoSpacing"))
  <tr>
    <td>Echo Spacing (sec)</td>
    <td align="left">$!scan.getProperty("parameters.echoSpacing")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.readoutSampleSpacing"))
  <tr>
    <td>Readout sample spacing</td>
    <td align="left">$!scan.getProperty("parameters.readoutSampleSpacing")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.pixelBandwidth"))
  <tr>
    <td>Pixel bandwidth</td>
    <td align="left">$!scan.getProperty("parameters.pixelBandwidth")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.dtiAcqCount"))
  <tr>
    <td>DTI acquisition count</td>
    <td align="left">$!scan.getProperty("parameters.dtiAcqCount")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.diffusion.bValues"))
  <tr>
    <td>Diffusion <i>b</i> values</td>
    <td align="left">$!scan.getProperty("parameters.diffusion.bValues")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.diffusion.bMax"))
  <tr>
    <td>Diffusion maximum <i>b</i></td>
    <td align="left">$!scan.getProperty("parameters.diffusion.bMax")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.diffusion.directionality"))
  <tr>
    <td>Diffusion directionality</td>
    <td align="left">$!scan.getProperty("parameters.diffusion.directionality")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.diffusion.orientations"))
  <tr>
    <td>Diffusion orientations</td>
    <td align="left">$!scan.getProperty("parameters.diffusion.orientations")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.diffusion.anisotropyType"))
  <tr>
    <td>Diffusion anisotropy type</td>
    <td align="left">$!scan.getProperty("parameters.diffusion.anisotropyType")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.diffusion.refocusFlipAngle"))
  <tr>
    <td>Refocusing pulse flip angle</td>
    <td align="left">$!scan.getProperty("parameters.diffusion.refocusFlipAngle")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.inPlanePhaseEncoding.direction"))
  <tr>
    <td>In-plane phase encoding direction</td>
    <td align="left">$!scan.getProperty("parameters.inPlanePhaseEncoding.direction")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.inPlanePhaseEncoding.rotation"))
  <tr>
    <td>In-plane phase encoding rotation</td>
    <td align="left">$!scan.getProperty("parameters.inPlanePhaseEncoding.rotation")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.inPlanePhaseEncoding.polaritySwap"))
  <tr>
    <td>In-plane phase encoding polarity swap indicator</td>
    <td align="left">$!scan.getProperty("parameters.inPlanePhaseEncoding.polaritySwap")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.pmc"))
  <tr>
    <td>PMC</td>
    <td align="left">$!scan.getProperty("parameters.pmc")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.origin"))
  <tr>
    <td>Origin</td>
    <td align="left">$!scan.getProperty("parameters.origin")</td>
  </tr>
  #end
  #if($scan.getProperty("note"))
  <tr>
    <td>Note</td>
    <td align="left">$!scan.getProperty("note")</td>
  </tr>
  #end
  #if($scan.getProperty("validation.status"))
  <tr>
    <td>Validity</td>
    <td align="left">$!scan.getStringProperty("validation.status")</td>
  </tr>
  #end
  #if($scan.getProperty("validation.method"))
  <tr>
    <td>Validation Method</td>
    <td align="left">$!scan.getStringProperty("validation.method")</td>
  </tr>
  #end
  #if($scan.getProperty("validation.date"))
  <tr>
    <td>Validation Date</td>
    <td align="left">$!scan.getStringProperty("validation.date")</td>
  </tr>
  #end
  #if($scan.getProperty("validation.notes"))
  <tr>
    <td>Validation Notes</td>
    <td align="left">$!scan.getStringProperty("validation.notes")</td>
  </tr>
  #end
  #*
  #if($scan.getUid())
	<tr>
		<td> </td>
		<td colspan="2"><a target="_blank" href="$content.getURI("/REST/services/dicomdump?src=/archive/projects/$om.getProject()/experiments/$om.getId()/scans/$scan.getId()&format=html&requested_screen=DicomScanTable.vm")">View DICOM Headers</a></td>
    </tr>
  #end
  #if($scan.getUid())
	<tr>
		<td> </td>
		<td colspan="2"><a target="_blank" href="$content.getURI("/REST/services/dicomdump?src=/archive/projects/$om.getProject()/experiments/$om.getId()/scans/$scan.getId()&format=html&requested_screen=DicomScanTable.vm")">View DICOM Headers</a></td>
	</tr>
  #end	
  *#		
  #foreach($addP in $scan.getParameters_addparam())
  <tr>
    <td>$!addP.getName()</td>
    <td align="left">$!addP.getAddfield()</td>
  </tr>
  #end
  ## BEGIN ADDTIONS FOR RELEASE PIPELINE
  #if($scan.getProperty("parameters.protocolPhaseEncodingDir"))
  <tr>
    <td>Phase Encoding Direction</td>
    <td align="left">$!scan.getStringProperty("parameters.protocolPhaseEncodingDir")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.shimGroup"))
  <tr>
    <td>Shim Group</td>
    <td align="left">$!scan.getStringProperty("parameters.shimGroup")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.seFieldMapGroup"))
  <tr>
    <td>SE FieldMap Group</td>
    <td align="left">$!scan.getStringProperty("parameters.seFieldMapGroup")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.biasGroup"))
  <tr>
    <td>Bias Group</td>
    <td align="left">$!scan.getStringProperty("parameters.biasGroup")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.geFieldMapGroup"))
  <tr>
    <td>GE FieldMap Group</td>
    <td align="left">$!scan.getStringProperty("parameters.geFieldMapGroup")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.peRotation"))
  <tr>
    <td>PE Rotation</td>
    <td align="left">$!scan.getStringProperty("parameters.peRotation")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.peSwap"))
  <tr>
    <td>PE Swap</td>
    <td align="left">$!scan.getStringProperty("parameters.peSwap")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.peDirection"))
  <tr>
    <td>PE Direction</td>
    <td align="left">$!scan.getStringProperty("parameters.peDirection")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.readoutDirection"))
  <tr>
    <td>Readout Direction</td>
    <td align="left">$!scan.getStringProperty("parameters.readoutDirection")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.eprimeScriptNum"))
  <tr>
    <td>Eprime Script Number</td>
    <td align="left">$!scan.getStringProperty("parameters.eprimeScriptNum")</td>
  </tr>
  #end
  #if($scan.getProperty("parameters.scanOrder"))
  <tr>
    <td>Scan Order</td>
    <td align="left">$!scan.getStringProperty("parameters.scanOrder")</td>
  </tr>
  #end
  #if($scan.getProperty("sessionDay"))
  <tr>
    <td>Session Day</td>
    <td align="left">$!scan.getStringProperty("sessionDay")</td>
  </tr>
  #end
  #if($scan.getProperty("subjectSessionNum"))
  <tr>
    <td>SessionCount</td>
    <td align="left">$!scan.getStringProperty("subjectSessionNum")</td>
  </tr>
  #end
  #if($scan.getProperty("releaseCountScan"))
  <tr>
    <td>Count Scan?</td>
    <td align="left">$!scan.getStringProperty("releaseCountScan")</td>
  </tr>
  #end
  #if($scan.getProperty("releaseCountScanOverride"))
  <tr>
    <td>Count Scan (Override?)</td>
    <td align="left">$!scan.getStringProperty("releaseCountScanOverride")</td>
  </tr>
  #end
  #if($scan.getProperty("targetForRelease"))
  <tr>
    <td>Target for Data Release?</td>
    <td align="left">$!scan.getStringProperty("targetForRelease")</td>
  </tr>
  #end
  #if($scan.getProperty("releaseOverride"))
  <tr>
    <td>Target for Data Release (Override)?</td>
    <td align="left">$!scan.getStringProperty("releaseOverride")</td>
  </tr>
  #end
  ###if($scan.getProperty("scanComplete"))
  ##<tr>
  ##  <td>Scan Complete?</td>
  ##  <td align="left">$!scan.getStringProperty("scanComplete")</td>
  ##</tr>
  ###end
  #if($scan.getProperty("pctComplete"))
  <tr>
    <td>Percent Complete</td>
    <td align="left">$!scan.getStringProperty("pctComplete")</td>
  </tr>
  #end
  #if($scan.getProperty("pctPairComplete"))
  <tr>
    <td>Percent Pair Complete</td>
    <td align="left">$!scan.getStringProperty("pctPairComplete")</td>
  </tr>
  #end
  #if($scan.getProperty("dataRelease"))
  <tr>
    <td>Data Release</td>
    <td align="left">$!scan.getStringProperty("dataRelease")</td>
  </tr>
  #end
  #if($scan.getProperty("dbSession"))
  <tr>
    <td>IntraDB Experiment Label</td>
    <td align="left">$!scan.getStringProperty("dbSession")</td>
  </tr>
  #end
  #if($scan.getProperty("dbID"))
  <tr>
    <td>IntraDB ScanID</td>
    <td align="left">$!scan.getStringProperty("dbID")</td>
  </tr>
  #end
  #if($scan.getProperty("dbType"))
  <tr>
    <td>IntraDB ScanType</td>
    <td align="left">$!scan.getStringProperty("dbType")</td>
  </tr>
  #end
  #if($scan.getProperty("dbDesc"))
  <tr>
    <td>IntraDB SeriesDescription</td>
    <td align="left">$!scan.getStringProperty("dbDesc")</td>
  </tr>
  #end
  #if($scan.getProperty("viewScan"))
  <tr>
    <td>View Scan?</td>
    <td align="left">$!scan.getStringProperty("viewScan")</td>
  </tr>
  #end
  ## END ADDTIONS FOR RELEASE PIPELINE
  
  #foreach($scanAssessor in $scanAssessors)
  #if($scanAssessor.canRead($user))
  #set($scanById=$!scanAssessor.getScanById($scanID))
      #set($scanId=$!scanAssessor.getId())
      #set($scanType=$!scanAssessor.getXSIType())
      #set($scanField="${scanAssessor.getXSIType()}.ID")
      #set($url=$link.setAction('DisplayItemAction').addPathInfo('search_element',$scanType).addPathInfo('search_field',$scanField).addPathInfo('search_value',$scanId).addPathInfo('popup',$popup).addPathInfo('project',$project))
      #if($scanById)
  <tr>
    <td><a href="$url" title="$scanAssessor.getIdentifier($project)">$!scanAssessor.getHeader():</a></td>
    <td border=0 style="font-weight:bold; text-align:left;"  NOWRAP>	
      $!scanAssessor.getScanById($scanID).getSummary()
    </td>
  </tr>
  #end
  #end
  #end
</table>
