<!-- search script -->
<script type="text/javascript">
<!--
function DefaultEnterKey(e,button){
	var keynum;
	var keychar;
	var numcheck;
	
	if(window.event) // IE
		{
		  keynum = e.keyCode
		  if (keynum==13){
			submitQuickSearch();
			return true;
		  }
		}
	else if(e) // Netscape/Firefox/Opera
		{
		  keynum = e.which
		  if (keynum==13){
			submitQuickSearch();
			return false;
		  }
		}
	  return true;
}

$(document).ready(function(){
	// intercept enter key within form, and force validation. 
	$("#searchValue").on("keypress",function(event){ 
		if(event.which == 13) { 
			event.preventDefault(); 
			submitQuickSearch(); 
		} 
	}); 
	
	// intercept search button within form, and force validation. 
	$("#search_btn").on("click",function(event){
		event.preventDefault(); 
		submitQuickSearch(); 
	}); 
}); 

function submitQuickSearch(){
	var searchValue = document.getElementById('searchValue');
	    if((searchValue.value!="") && (searchValue.value.trim()) && (searchValue.value.length > 1)) {
			var submitForm = true; 
		    concealContent();
    		document.getElementById('quickSearchForm').submit();
		} else { 
			alert("Please enter a proper search term.")
			$(searchValue).focus(); 
			return false; 
		}
}

//-->
</script>
<!-- end search script -->

<form id="quickSearchForm" method="post" action="$link.setAction("QuickSearchAction")" _lpchecked="1">
    <input id="searchValue" name="searchValue" type="text" maxlength="40" size="25" value="$!field" placeholder="Search by ID" />
    <a id="search_btn" class="btn1" href="javascript:;">Search</a>
</form>
