#if( $projType == 'subjectKey' )
<TR>
    <TH align="left"></TH>
    <TD><input id="xnat:projectData/fields/field[name=connectometype]/field"  type="hidden" name="xnat:projectData/fields/field[name=connectometype]/field" value="subjectKey" size="95" onkeydown="subOnEnter(event,this);" /></TD>
</TR>
#end