$navigation.setTemplate("/htmlOpen.vm")
## insert any template-specific <head> code here

## moved 'onload' script in <body> tag to a jQuery function
<script type="text/javascript">
    jq(window).load(function(){
        jq('#username').focus();
    });
</script>

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag


<!-- path: xnat-templates/layouts/Login -->

##<body id="page_body" class="yui-skin-sam" ONLOAD="document.getElementById('username').focus();">
	$navigation.setTemplate("/NoMenuTop.vm")
      <div id="layout_content2" style="display:none;">Loading...</div>
      <div id="layout_content" class="main">
      <div id="tp_fm"></div>
<!--BEGIN SCREEN CONTENT -->
      $screen_placeholder
<!--END SCREEN CONTENT -->
      </div>

</div><!-- /#body-container -->
<div id="footer-container">
    <div id="footer">
        <p><span style="float:right;"><a href="http://humanconnectome.org/connectomeDB/help">ConnectomeDB Tutorial</a> <span style="margin: 0 20px;">|</span> <a href="mailto:support@humanconnectome.org">Contact Support</a></span><strong>ConnectomeDB is a product of the Human Connectome Project</strong></p>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29995742-1']);
      _gaq.push(['_trackPageview']);
     
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</div>

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
