$navigation.setTemplate("/htmlOpen.vm")
<style type="text/css">
    html body.popup { background: #fff !important ; }
    body.popup #page_wrapper { padding: 30px ; }
    body.popup #xnat_power { margin: 30px ; }
    body.modal-popup #xnat_power,
    body.xmodal-popup #xnat_power { display: none ; }
</style>
## insert any template-specific <head> code here
<script type="text/javascript">
    window.isPopup=true;
    jq(function(){
        jq('body').addClass('popup');
    });
</script>
#set($popup=true)

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag

<script type="text/javascript">
    jq(function(){
        if (getParameterByName('modal') === 'x'){
            jq('body').addClass('xmodal-popup')
        }
    });
</script>

<!-- path: xdat-templates/layouts/Popup -->

    	  <div id="tp_fm"></div>
      <div id="layout_content2" style="display:none;">Loading...</DIV>
      <div id="layout_content">$screen_placeholder</DIV>

      $navigation.setTemplate("/DefaultBottom.vm")

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
