#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="hideChangePasswordForm" type="java.lang.Boolean" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="topMessage" type="java.lang.String" *#
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($template = $data.getTemplateInfo())
#set ($token = $data.getParameters().getString("token"))
#set ($login = $data.getParameters().getString("login"))
$!template.setLayoutTemplate("Noninteractive.vm")
$page.setTitle("XDAT -- Change Password")
## $page.setBgColor($ui.bgcolor)

    #parse("/screens/newPasswordValidationJS.vm")

        #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
            #if ($key!="action" && $key!="template" &&$key!="password" &&$key!="phone" &&$key!="comments" &&!$key.startsWith("xdat:user") &&$key!="username" &&$key!="exception")
                <input type="hidden" name="$key" value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))" />
            #end
        #end
		
	##	#if ( $data.getMessage() )
	##	  <div class="warning">$data.getMessage() <img src="$content.getURI('/images/close.gif')" style="position: absolute; right: 10px;" onclick="javascript:$(this).parent('div').slideUp(200)" /></div>
	##	#end
		
        #if (!$hideChangePasswordForm)

		  <div class="header">
			<h1 id="page-title">$!topMessage</h1>
		  </div>
		  
		  <div name="password-reset-form">
		      <form name="form2" id="changePasswordForm" class="friendlyForm" method="post" action="$link.setAction("HCPChangePassword")" onSubmit="return XNAT.app.changepassword.validateForm();">
			      <div class="inputWrapper">
					  <label>New Password</label>
					  <input type="password" id="xdat:user.primary_password" name="xdat:user.primary_password" autocomplete="off" />
					  <div class="helptext">Passwords must be 5 or more characters.</div>
				  </div>
				  <div class="inputWrapper">
					  <label>New Password</label>
					  <input type="password" id="xdat:user.password_check" name="xdat:user.primary_password" autocomplete="off">
					  <div class="helptext">Passwords must be 5 or more characters.</div>
				  </div>
                  <input type="hidden" name="xdat:user.login" value="$!{login}" />
				  <input type="hidden" name="xdat:user.xdat_user_id" value="$!{login}">
				  <input type="submit" value="Change" id="Change">
			   </form>
			</div>
		  
		  #else 
		  
		  	<div class="header">
				<h1 id="page-title">Error</h1>
				<p>$data.getMessage()</p>
			</div>
		  #end
