##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if ( ! $login_methods )
#set( $login_methods = [ "LDAP","Database" ] )
#end
<div id="reg-div" class="yui-panel-container yui-dialog shadow agreed" style="text-align:left;">
<DIV id="reg-error-bar" class="error" style="width:95%;margin-left:10px;display:none;visibility:hidden">$data.message</DIV>
#if ($data.getParameters().get("view") == "wbRegistration")
<h2 style="width:100%;text-align:center;margin-top:0px;">Sign up for access to Connectome Workbench</h2>
#else
<h2 style="width:100%;text-align:center;margin-top:0px;">Sign up for access to ConnectomeDB</h2>
#end
#if ($data.getParameters().get("view") == "wbRegistration")
<form id="regForm" method="post" action='javascript:wbInitRegisterCall("$content.getURI("/")registerUser");' style="display:inline">
#else
<form id="regForm" method="post" action='javascript:initRegisterCall("$content.getURI("/")registerUser");' style="display:inline">
#end
<table>
<tr><td><nobr>Username</nobr></td><td><input name="username" id="reg-username" type="text" size=40></input></td><td><img src="/images/info.png" style="margin-left:10px;margin-right:5px" border="0"></td><td>Username should begin with a lower-case letter and consist only of lower-case letters, numbers and underscores.</td></tr>
<tr><td><nobr>Email Address</nobr></td><td><input name="email" id="reg-email" type="text" size=40></input></td><td><img src="/images/info.png" style="margin-left:10px;margin-right:5px" border="0"></td><td>Emails will not be shared.  Review our <a href="javascript:window.open('http://humanconnectome.org/privacy/');" tabindex="-1">privacy policy</a></td></tr>
<tr><td>First Name</td><td colspan=3><input name="firstname" id="reg-firstname" type="text" size=40></input></td></tr>
<tr><td>Last Name</td><td colspan=3><input name="lastname" id="reg-lastname" type="text" size=40></input></td></tr>
<tr><td>Institution</td><td colspan=3><input name="institution" id="reg-institution" type="text" size=40></input></td></tr>
<tr class="department"><td>Department (leave this blank)</td><td colspan=3><input name="department" id="reg-department" type="text" size=40></input></td></tr>

<tr><td>Create a Password</td><td><input name="pw" id="reg-pw" type="password"></input></td><td><img src="/images/info.png" style="margin-left:10px;margin-right:5px" border="0"></td><td>Password should be at least 8 characters and contain upper and lower-case, as well as a number or symbol.</td></tr>
<tr><td>Confirm Password</td><td colspan=3><input name="pwc" id="reg-pwc" type="password"></input></td></tr>
<!--
<tr><td>Captcha: retype these Characters</td><td colspan=3 style="padding-top:5px;padding-bottom:5px">
<div>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=$data.getServletContext().getAttribute('capPublicKey')"></script>
</div>
    <noscript>
	alert("You must enable JavaScript in your browser to complete registration");
    </noscript>
</input></td>
-->
#if ($data.getParameters().get("view") == "wbRegistration")
<input type="hidden" name="isWBForm" value="Y"/>
#else
<input type="hidden" name="isWBForm" value="N"/>
#end
<input type="hidden" name="agreeToDataUseTerms" id="agreeToDataUseTerms"/>
<input type="hidden" name="agreeToWBTerms" id="agreeToWBTerms"/>
<tr><td></td><td colspan=3 style="padding-bottom:30px" align=left><input type="submit" value="Submit"/><!--<input type="button" value="Cancel" onclick="regClose()"/>--></td>
</table>
</form>
</div>


<div id="agree-div" class="yui-panel-container yui-dialog shadow agreed">
<h2>Data Use Terms</h2>
<div class="du">
#if ($data.getParameters().get("view") == "wbRegistration" || $data.getParameters().get("view") == "wbTerms")
	#parse("/screens/WBDataUseTerms.vm")
#end
</div>
<div style="position:relative;width:95%;text-align:center;padding-bottom:10px;padding-top:0px;">
<input type="checkbox" onchange="agreeChange(this)"/>I agree to the Data Use Terms<br /><br />
#if ($data.getParameters().get("view") == "wbRegistration")
<input id="btn-agree" type="button" value="Complete Registration" disabled="disabled" onclick='wbRegister("$content.getURI("/")registerUser")'/><!--<input type="button" value="No Thanks" onclick="noThanks()"/>-->
#elseif ($data.getParameters().get("view") == "terms")
<input id="btn-agree" type="button" value="Continue" disabled="disabled" onclick='doRegister("$content.getURI("/")registerUser")'/><!--<input type="button" value="No Thanks" onclick="noThanks()"/>-->
#elseif ($data.getParameters().get("view") == "wbTerms")
<input id="btn-agree" type="button" value="Continue" disabled="disabled" onclick='wbRegister("$content.getURI("/")registerUser")'/><!--<input type="button" value="No Thanks" onclick="noThanks()"/>-->
#else
<input id="btn-agree" type="button" value="Complete Registration" disabled="disabled" onclick='doRegister("$content.getURI("/")registerUser")'/><!--<input type="button" value="No Thanks" onclick="noThanks()"/>-->
#end
</div>
</div>


<div id="reg-proc-div" class="yui-panel-container yui-dialog shadow regproc"></div>
<div id="reg-proc-contents" class="regproccont"></div>

<!-- login container -->
<div name="login-container">

$page.setTitle("ConnectomeDB -- Please Login")
$page.setBgColor($ui.bgcolor)
$page.addAttribute("onLoad", "document.getElementById('username').focus();")
##<DIV align="right" VALIGN="top" style="width:400px;float:left">
<div>
<br /><br />
#if($data.getParameters().get("par"))
  <table valign="top" align="center">
  
  <tr>
    <td valign="top" colspan="2">
#if($msg)
  <DIV class="warning">$msg</DIV><br /><br />
#end
#parse("/screens/site_description.vm")
    </td>
  </tr>
  <tr>
    <td valign="top" align="center">
    <br /><br />
    </td>
  </tr>
  <tr>
    <td valign="top" align="center">
    <div class="withColor withThinBorder">
    <h3>Existing Users Login</h3>
#parse("/screens/login_box.vm")
			      <div style="padding-bottom:5px;">
        <a href="$link.setPage("ForgotLogin.vm")#if($data.getParameters().getString('par'))/par/$data.getParameters().getString('par')#end">Forgot login or password?</a>
      				</div>
    </div>
    </td>
    <td valign="top">
      <div id="col2" style="top:10px;right:10px;width:90%;text-align:left;">
         <div id="registerbox" class="withColor withThinBorder" style=";padding:3px;padding-left:5px;">
            <div>
              #parse("/screens/register_box.vm")
           </div>      
         </div>
      </div>
    </td>
   </tr>
  </table>
#else
</div>


#if ($data.getParameters().get("view") == "faq")

<div style="position:relative;float:left;top:5px;width:95%;">

<DIV id="faq-div" VALIGN="top" class="phase1" style="position:absolute;float:left;top:15px;left:0px;">
	#parse("/screens/HCPDBAnnouncementFaq.vm")
</DIV>
#else 

#end 

#if ($data.getParameters().get("view") == "faq")
<!--[if IE]>
<DIV VALIGN="top" class="login" style="top:15px;left:680px;">
<![endif]-->
<!--[if !IE]><!-->
<DIV VALIGN="top" class="login" style="top:15px;">
</style>
<![endif]-->
#else
<DIV VALIGN="top" class="login">
#end
 <DIV id="error-bar" class="error" style="width:95%;margin-left:10px;display:none;visibility:hidden">$data.message</DIV>
  <h3 style="padding-left:30px">Login to ConnectomeDB</h3>
  <table valign="top" align="center">
  <tr>
    <td valign="top" colspan="52" align="center">
##if ( $data.getMessage() )
## <DIV class="error">$data.message</DIV><br /><br />
##end
#if($msg)
  <DIV class="warning">$msg</DIV><br /><br />
#end
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="2" align="center">
    <div class="">
#parse("/screens/login_box.vm")
		    </div>
    </td>
  </tr>
    <tr>
			      <td align="left" colspan="2">&nbsp;</td>
    </tr>
    
  <tr>
    <td valign="top" colspan="2" align="center">
      <div class="">
         <table>
    <tr>
		<td >
        </td>
    </tr>
         </table>
		      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="2" align="center">
    <br /><br />
    </td>
  </tr>
  <tr>
    <td valign="top" colspan="2">
#parse("/screens/site_description.vm")
    </td>
  </tr>
  </table>
#end
</DIV>


#if ($data.getParameters().get("view") == "registration" || $data.getParameters().get("view") == "wbRegistration")
<script type="text/javascript">
register();
</script>
#end
#if ($data.getParameters().get("view") == "terms")
<script type="text/javascript">
document.getElementById('error-bar').style.display="block";
document.getElementById('error-bar').style.visibility="visible";
showTerms();
//document.getElementById("btn-agree").setAttribute("onclick",'javascript:doAgreeLogin("$data.getParameters().get("username")")');
document.getElementById("btn-agree").setAttribute("onclick",'javascript:doAgreeLogin(document.getElementById("doagree-user").value)');
</script>
<br />
<br />
#elseif ($data.getParameters().get("view") == "wbTerms")
<script type="text/javascript">
document.getElementById('error-bar').style.display="block";
document.getElementById('error-bar').style.visibility="visible";
showTerms();
document.getElementById("btn-agree").setAttribute("onclick",'javascript:doAgreeWBLogin(document.getElementById("doagree-user").value)');
</script>
<br />
<br />
#elseif ( $data.getMessage() )
<script type="text/javascript">
document.getElementById('error-bar').style.display="block";
document.getElementById('error-bar').style.visibility="visible";
#if ($data.getMessage().toLowerCase().indexOf("agree to the data use terms")>=0)
showTerms();
document.getElementById("btn-agree").setAttribute("onclick",'javascript:doAgreeLogin("$data.getParameters().get("username")")');
#end
</script>
<br />
<br />
#end
</div>

