<script type="text/javascript" src="$content.getURI("scripts/project/accessibility.js")"></script>

<script language="javascript">

    check_file = function(){
        str=document.getElementsByName("csv_to_store")[0].value.toUpperCase();
        extension=".CSV";
        if(str.indexOf(extension, str.length - extension.length) == -1){
            xModalMessage('Invalid file type', 'The selected file is invalid. You must upload a file that ends in ".csv".');
            document.getElementsByName("eventSubmit_doUpload")[0].disabled=true;
        }
        else{
            document.getElementsByName("eventSubmit_doUpload")[0].disabled=false;
        }

    };

</script>

$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<script type="text/javascript">
	var messageText = "$data.message()";
	$("#message-container").append("<div class='warning'><span class='icon icon-sm icon-close'></span> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end
#if($vr)
<script type="text/javascript">
	var messageText = $vr.toHTML(); 
	$("#message-container").append("<div class='error'><span class='icon icon-sm icon-close'></span> <strong>Form Validation Error, please contact administrator:</strong><br /> "+messageText+"</div>"); 
	$(document).ready(function(){ 
		$("#message-container div").on("click",function(){ $(this).slideUp(200) }); 
	}); 
</script>
#end
	
<div id="header">
	<div class="subject-page header">
		<h1 id="page-title">Add Coded IDs to Subject Key: $projectName</h1>
		<div id="info-button" class="button-large">
		  <strong>Note:</strong> Uploaded CSV files are not stored in ConnectomeDB as part of your Subject Key. Values are read from the CSV and stored in our database. You are responsible for maintaining your local copy of your CSV.
		</div>
		<p style="margin-bottom: 1em;">HCP Subject Key ID: $subjectKeyProjectId</p>
		<p><strong>Step 2:</strong> Upload a CSV spreadsheet of your Coded IDs, mapped to their original HCP subject IDs. <a href="$link.setPage("DownloadSubjectKey.vm")">Download CSV Template</a>.</p>
	</div>
</div>

<form name="form1" enctype="multipart/form-data" method="POST" action="$link.setAction("SubjectKeyUpload")" class="friendlyForm">
	<input type="hidden" name="subjectKeyProjectId" value="$!subjectKeyProjectId" />
	#if($rows)
		<fieldset>
		<!-- table previewing file contents -->
		#if ($problems.size()>0)
			<div class="inputWrapper wide error">
				<h3>Error(s) found in uploaded file. Cannot add Coded IDs into Subject Key. Please fix and reupload your file.</h3>
				<ul>
				#foreach( $problem in $problems )
					<li class="error">$problem</li>
				#end
				</ul>
			</div>
		#else
			<h3>Subjects found in uploaded file</h3>
		#end
		
			<div class="inputWrapper wide">
				<table class="" width="100%">
					<tr>
						<th>SubjectID</th>
						<th>CodedId</th>
					</tr>
				#foreach( $row in $rows )
					#if($problematicRows.contains($velocityCount))
                        <tr class="error">
                            <td>$row.get(0)</td>
                            <td>$row.get(1)</td>
                        </tr>
                    #else
                        <tr>
                            <td>$row.get(0)</td>
                            <td>$row.get(1)</td>
                        </tr>
                    #end
				#end
				</table>
	
				<input type="hidden" name="tempName" value="$!tempName"/>
				<input type="hidden" name="subjectKeyProjectId" value="$!subjectKeyProjectId"/>
			</div>
		</fieldset>
	#end
	
	<fieldset #if($rows.size()>0 && $problems.size()<=0) class="hidden" #end>
		<!-- file selection and upload -->
		<div class="inputWrapper wide">
			<h3>Upload CSV</h3>
			<input type="file" name="csv_to_store" onchange="check_file()"/>
			<div class="helptext">Specify HCP subjects and deidentified labels in a CSV document. </div>
		</div>
	</fieldset>
		
	<fieldset>
		<!-- form actions -->
		<div id="formTags"></div>
		
		#if($rows.size()>0 && $problems.size()<=0)
			<div class="inputWrapper wide">
				<p class="form-submit">
					<span style="margin-right: 20px;"><a href="javascript:" onclick="window.location.assign('/data/projects/$!subjectKeyProjectId')">Cancel</a></span>
					<input type="submit" name="eventSubmit_doStore" value="Save Coded IDs into Subject Key" />
				</p>
			</div>
		#else
			<div class="inputWrapper wide">
				<p class="form-submit">
					<span style="margin-right: 20px;"><a href="javascript:" onclick="window.location.assign('/data/projects/$!subjectKeyProjectId')">Cancel</a></span>
					<input type="submit" name="eventSubmit_doUpload" value="Import CSV File" disabled/>
				</p>
			</div>
		#end

	</fieldset>
</form>

#xdatEditProps($item $edit_screen)

