<!-- begin XDATScreen_report_hcp_subjectMetaData.vm -->
$page.setTitle("Subject MetaData Details")
#parse("/screens/HcpReportTop.vm")

<div class="report-info-block">
	<h2 class="expts_header">Release Information</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>Quarter subject first released?</td><td>$!item.getStringProperty("hcp:subjectMetaData/release/quarter")</td></tr>
	  </tbody>
	</table>
	<h2 class="expts_header">3T Reconstruction Information</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>
	  <tbody>
		<tr><td>3T dMRI Recon Version(s)</td><td>$!item.getStringProperty("hcp:subjectMetaData/recon/3T/dmri_recon_version")</td></tr>
		<tr><td>3T fMRI Recon Version(s)</td><td>$!item.getStringProperty("hcp:subjectMetaData/recon/3T/fmri_recon_version")</td></tr>
	  </tbody>
	</table>
	<h2 class="expts_header">3T MR Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>Full imaging protocol is complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/fullProtocol")</td></tr>
		<tr><td>T1 Count</td><td>$!item.getIntegerProperty("hcp:subjectMetaData/completeness/imaging/t1count")</td></tr>
		<tr><td>T2 Count</td><td>$!item.getIntegerProperty("hcp:subjectMetaData/completeness/imaging/t2count")</td></tr>
		<tr><td>Resting state data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/rfmri_allscans")</td></tr>
		<tr><td>Resting state scan count?</td><td>$!item.getIntegerProperty("hcp:subjectMetaData/completeness/imaging/rfmri_count")</td></tr>
		<tr><td>Resting state data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/rfmri_complete")</td></tr>
		<tr><td>Task imaging data have all scans (ALL TASKS)?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_full_allscans")</td></tr>
		<tr><td>Task imaging data complete (ALL TASKS)?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_full_complete")</td></tr>
		<tr><td>Working Memory task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_wm_allscans")</td></tr>
		<tr><td>Working Memory task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_wm_complete")</td></tr>
		<tr><td>Gambling task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_gamb_allscans")</td></tr>
		<tr><td>Gambling task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_gamb_complete")</td></tr>
		<tr><td>Motor task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_motor_allscans")</td></tr>
		<tr><td>Motor task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_motor_complete")</td></tr>
		<tr><td>Language task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_lang_allscans")</td></tr>
		<tr><td>Language task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_lang_complete")</td></tr>
		<tr><td>Social task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_soc_allscans")</td></tr>
		<tr><td>Social task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_soc_complete")</td></tr>
		<tr><td>Relational task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_rel_allscans")</td></tr>
		<tr><td>Relational task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_rel_complete")</td></tr>
		<tr><td>Emotion task imaging data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_emot_allscans")</td></tr>
		<tr><td>Emotion task imaging data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/tfmri_emot_complete")</td></tr>
		<tr><td>Diffusion data have all scans?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/dmri_allscans")</td></tr>
		<tr><td>Diffusion data scan count?</td><td>$!item.getIntegerProperty("hcp:subjectMetaData/completeness/imaging/dmri_count")</td></tr>
		<tr><td>Diffusion data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/imaging/dmri_complete")</td></tr>
		<tr><td>Diffusion data Percent complete?</td><td>$!item.getStringProperty("hcp:subjectMetaData/completeness/imaging/dmri_pctComplete")</td></tr>
	  </tbody>
	</table>
#if ($project!="HCP_Q1" && $project!="HCP_Q2" && $project!="HCP_Q3" && $project!="HCP_Q3_RST")
	<h2 class="expts_header">MEG Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>Any MEG data available?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/anyMEG")</td></tr>
		<tr><td>Full protocol complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/fullProtocol")</td></tr>
		<tr><td>Head model available?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/headModel_available")</td></tr>
		<tr><td>Cortical ribbon available?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/corticalRibbon_available")</td></tr>
		<tr><td>Anatomy data available</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/anatomy_available")</td></tr>
		<tr><td>Anatomy data complete</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/anatomy_complete")</td></tr>
		<tr><td>Noise data available</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/noise_available")</td></tr>
		<tr><td>Noise data complete</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/noise_complete")</td></tr>
		<tr><td>Resting State data available</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/resting_available")</td></tr>
		<tr><td>Resting State data complete</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/resting_complete")</td></tr>
		<tr><td>Working Memory data available</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/wm_available")</td></tr>
		<tr><td>Working Memory data complete</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/wm_complete")</td></tr>
		<tr><td>Story Math data available</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/storym_available")</td></tr>
		<tr><td>Story Math data complete</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/storym_complete")</td></tr>
		<tr><td>Motor data available</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/motor_available")</td></tr>
		<tr><td>Motor data complete</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/meg/motor_complete")</td></tr>
	  </tbody>
	</table>
#end
#if ($project!="HCP_Q1")
	<h2 class="expts_header">Toolbox Behavioral Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>Full Toolbox battery is complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/toolbox/fullBattery")</td></tr>
		<tr><td>Cognition data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/toolbox/cognition")</td></tr>
		<tr><td>Emotion data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/toolbox/emotion")</td></tr>
		<tr><td>Motor data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/toolbox/motor")</td></tr>
		<tr><td>Sensory data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/toolbox/sensory")</td></tr>
	  </tbody>
	</table>
#end
	<h2 class="expts_header">Non-toolbox Behavioral Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>Full Non-Toolbox battery is complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/fullBattery")</td></tr>
		<tr><td>HCPPNP (Mars Letter Contrast Sensitivity) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/hcppnp")</td></tr>
		<tr><td>DDISC (Delay Discounting) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/ddisc")</td></tr>
		<tr><td>SPCPTNL (Short Continuous Performance Test) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/spcptnl")</td></tr>
		<tr><td>CPW (Computerized Penn Word Memory) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/cpw")</td></tr>
		<tr><td>PMAT24A (Progressive Matricies) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/pmat24a")</td></tr>
		<tr><td>VSPLOT24 (Visiospatial) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/vsplot24")</td></tr>
		<tr><td>ER40 (Expression Recognition) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/er40")</td></tr>
		<tr><td>NEO (NEO-FFI) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/neo")</td></tr>
		<tr><td>ASR Syndrome Scale data complete?<b>*</b></td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/asrSyndrome")</td></tr>
		<tr><td>ASR DSM-Oriented Scale data complete?<b>*</b></td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/nontoolbox/asrDsm")</td></tr>
	  </tbody>
	</table>

#if ($project!="HCP_Q1" && $project!="HCP_Q2" && $project!="HCP_Q3" && $project!="HCP_Q3_RST")
	<h2 class="expts_header">SSAGA Behavioral Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>
	  <tbody>
		<tr><td>Full SSAGA battery is complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/fullBattery")</td></tr>
		<tr><td>Health and demographic data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/demographic")</td></tr>
		<tr><td>Mental health data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/mental")</td></tr>
		<tr><td>Alcohol use and dependence data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/alcohol")</td></tr>
		<tr><td>Illicit drug use and dependence data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/illicit")</td></tr>
		<tr><td>Tobacco use and dependence data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/tobacco")</td></tr>
		<tr><td>Marijuana use and dependence data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/ssaga/marijuana")</td></tr>
	  </tbody>
	</table>
#end

#if ($project!="HCP_Q1")
	<h2 class="expts_header">Alertness Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>Full Alertness battery is complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/alertness/fullBattery")</td></tr>
		<tr><td>MMSE (Mini-Mental State)  data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/alertness/mmse")</td></tr>
		<tr><td>PSQI (Sleep Quality) data complete?</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/alertness/psqi")</td></tr>
	  </tbody>
	</table>
#end
#if ($data.getSession().getAttribute("hasRestrictedAccess"))
	<h2 class="expts_header">Other/Restricted Data Completeness</h2>
	<table>
	  <thead>
		<th width="75%">Measure</th><th width="25%">Score</th>
	  </thead>

	  <tbody>
		<tr><td>ASQ (Alc/Smoking 7-Day Retrospective) data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/other/asq")</td></tr>
		<tr><td>FAMHIST (Family Psych & Neuro History) data complete?*</td><td>$!item.getBooleanProperty("hcp:subjectMetaData/completeness/other/famhist")</td></tr>
	  </tbody>
	</table>
#end
	<p><em>* Access to this data is restricted and subject to separate data use terms.</em></p>
</div> <!-- end report-info-block -->

#parse("/screens/ReportProjectSpecificFields.vm")
<!-- end XDATScreen_report_hcp_subjectMetaData.vm -->
