##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<TABLE width="100%" align="left" valign="top" border=0>
	<TR>
		<TD width="450" align="left">
			<h2></h2>
			<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>Automatic Segmentation</b></font></TD>
				</TR>
			</TABLE>
			
	<P><TABLE align="left" width="100%" border=0>
		<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
							#parse($turbineUtils.getTemplateName("_summary",$om.getXSIType(),$project))
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<HR>
			</TD>
		</TR>
	</TABLE></P>
		</TD>
		<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
	<TR><TD COLSPAN=2>
		<TABLE border=0>
			<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Details</b></font><BR><BR></TH></TR>
			<TR><TH align="left" width=150>Icv:</TH><TD>$!om.getProperty("ICV")</TD></TR>
			<TR><TH align="left" width=150>Cerebral Cortex:</TH><TD>$!om.CerebralCortex</TD></TR>
			<TR><TH align="left" width=150>Cerebral White Matter:</TH><TD>$!om.CerebralWhiteMatter</TD></TR>
			<TR><TH align="left" width=150>Hippocampus:</TH><TD>$!om.Hippocampus</TD></TR>
		</TABLE>
	</TD></TR>
	<TR><TD COLSPAN=2><HR>
		<TABLE border=0>
			<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Additional Regions</b></font><BR><BR></TH></TR>
			#foreach($sub in $om.AdditionalRegions)
				<TR><TH align="left" width=300>$!sub.get(0)</TH><TD>$!sub.get(1)</TD></TR>
			#end
		</TABLE>
	</TD></TR>
</TABLE>
