$page.setTitle("Breathalyzer/Drug Test Results Data")

#parse("/screens/HcpRestrictedReportTop.vm")

#set($currentTier = $data.getSession().getAttribute("tier"))
#set($tiersMap = $data.getSession().getAttribute("userTiers"))
#set($project = $data.getSession().getAttribute("project"))
#set($projectAccess = $userTiersMap.get($project).get("accessLevel"))

<div class="report-info-block" id="restricted-data">
	## Either the user does not have Restricted Access for this project
	#if($projectAccess <= 0)
		<br><p>This is restricted access data. You must obtain access before you will be able to view it.</p>
	## They have it but don't have the tier dropdown properly set
	#elseif($projectAccess > 0 && $currentTier < 2)
		<br><p>This is sensitive data. In order to view it you must change your data view to sensitive by selecting the option from the dropdown in the Current Data View box.</p
	## Or everything is good to view Sensitive Data
	#elseif($projectAccess > 0 && $currentTier > 1)

	<h2 class="expts_header">Breathalyzer / Drug Test Results - Any positive reading</h2>
	<table>
	  <thead>
		<tr><th width="75%">Test</th><th width="25%">Test Results</th></tr>
	  </thead>
	  
	  <tbody>
		<tr>
			<td>Any Breathalyzer >= 0.05? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/breathalyzer_pt05")</td>
		</tr>
		<tr>
			<td>Any Breathalyzer >= 0.08? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/breathalyzer_pt08")</td>
		</tr>
		<tr>
			<td>Any positive test for Cocaine? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/cocaine")</td>
		</tr>
		<tr>
			<td>Any positive test for THC? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/thc")</td>
		</tr>
			<td>Any positive test for Opiates? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/opiates")</td>
		<tr>
			<td>Any positive test for Amphetimines? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/amph")</td>
		</tr>
			<td>Any positive test for MethAmphetamine? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/meth")</td>
		<tr>
			<td>Any positive test for Oxycontin? &nbsp;</td>
				<td>$!item.getBooleanProperty("hcp:restrictedDRG/summary/oxy")</td>
		</tr>
	  </tbody>
	</table>
	#end
</div>

