$page.setTitle("In-Scanner Task Performance")
#parse("/screens/HcpReportTop.vm")

<div class="report-info-block">
	<h2 class="expts_header">Emotion</h2>
	<table width="100%">
		<thead>
			<th width="75%">Measure</th><th width="25%">Score</th>
		</thead>
		<tbody>
			<tr><td>Overall Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/emotion_acc")</td></tr>
			<tr><td>Overall Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/emotion_median_rt")</td></tr>
			<tr><td>FACE Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/emotion_face_acc")</td></tr>
			<tr><td>FACE Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/emotion_face_median_rt")</td></tr>
			<tr><td>SHAPE Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/emotion_shape_acc")</td></tr>
			<tr><td>SHAPE Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/emotion_shape_median_rt")</td></tr>
		</tbody>
	</table>
	<h2 class="expts_header">Gambling</h2>
	<table width="100%">
		<thead>
			<th width="75%">Measure</th><th width="25%">Score</th>
		</thead>
		<tbody>
			<tr><td>Overall Percentage 'Larger'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_perc_larger")</td></tr>
			<tr><td>Overall Percentage 'Smaller'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_perc_smaller")</td></tr>
			<tr><td>Overall Percentage No Logged Response</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_perc_nlr")</td></tr>
			<tr><td>Overall Reaction Time 'Larger'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_median_rt_larger")</td></tr>
			<tr><td>Overall Reaction Time 'Smaller'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_median_rt_smaller")</td></tr>
			<tr><td>Percentage 'Larger' in Reward</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_reward_perc_larger")</td></tr>
			<tr><td>Median Reaction Time 'Larger' in Reward</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_reward_median_rt_larger")</td></tr>
			<tr><td>Percentage 'Smaller' in Reward</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_reward_perc_smaller")</td></tr>
			<tr><td>Median Reaction Time 'Smaller' in Reward</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_reward_median_rt_smaller")</td></tr>
			<tr><td>Percentage No Logged response in Reward</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_reward_perc_nlr")</td></tr>
			<tr><td>Percentage 'Larger' in Punish</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_punish_perc_larger")</td></tr>
			<tr><td>Median Reaction Time 'Larger' in Punish</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_punish_median_rt_larger")</td></tr>
			<tr><td>Percentage 'Smaller' in Punish</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_punish_perc_smaller")</td></tr>
			<tr><td>Median Reaction Time 'Smaller' in Punish</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_punish_median_rt_smaller")</td></tr>
			<tr><td>Percentage No Logged Response in Punish</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/gambling_punish_perc_nlr")</td></tr>
		</tbody>
	</table>
	<h2 class="expts_header">Language</h2>
	<table width="100%">
		<thead>
			<th width="75%">Measure</th><th width="25%">Score</th>
		</thead>
		<tbody>
			<tr><td>Overall Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_acc")</td></tr>
			<tr><td>Overall Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_median_rt")</td></tr>
			<tr><td>STORY Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_story_acc")</td></tr>
			<tr><td>STORY Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_story_median_rt")</td></tr>
			<tr><td>STORY Difficulty Level</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_story_avg_difficulty_level")</td></tr>
			<tr><td>MATH Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_math_acc")</td></tr>
			<tr><td>MATH Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_math_median_rt")</td></tr>
			<tr><td>MATH Difficulty Level</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/language_math_avg_difficulty_level")</td></tr>
		</tbody>
	</table>
	<h2 class="expts_header">Relational</h2>
	<table width="100%">
		<thead>
			<th width="75%">Measure</th><th width="25%">Score</th>
		</thead>
		<tbody>
			<tr><td>Overall Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/relational_acc")</td></tr>
			<tr><td>Overall Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/relational_median_rt")</td></tr>
			<tr><td>MATCH Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/relational_match_acc")</td></tr>
			<tr><td>MATCH Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/relational_match_median_rt")</td></tr>
			<tr><td>RELATIONAL Block (REL) Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/relational_rel_acc")</td></tr>
			<tr><td>RELATIONAL Block (REL) Median Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/relational_rel_median_rt")</td></tr>
		</tbody>
	</table>
	<h2 class="expts_header">Social</h2>
	<table width="100%">
		<thead>
			<th width="75%">Measure</th><th width="25%">Score</th>
		</thead>
		<tbody>
			<tr><td>Overall Percentage 'Random'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_perc_random")</td></tr>
			<tr><td>Overall Percentage 'TOM'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_perc_tom")</td></tr>
			<tr><td>Overall Percentage 'Unsure'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_perc_unsure")</td></tr>
			<tr><td>Overall Percentage No Logged Response</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_perc_nlr")</td></tr>
			<tr><td>Overall Reaction Time 'Random'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_median_rt_random")</td></tr>
			<tr><td>Overall Reaction Time 'TOM'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_median_rt_tom")</td></tr>
			<tr><td>Overall Reaction Time 'Unsure'</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_median_rt_unsure")</td></tr>
			<tr><td>Percentage 'Random' in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_perc_random")</td></tr>
			<tr><td>Median Reaction Time 'Random' in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_median_rt_random")</td></tr>
			<tr><td>Percentage 'TOM' in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_perc_tom")</td></tr>
			<tr><td>Median Reaction Time 'TOM' in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_median_rt_tom")</td></tr>
			<tr><td>Percentage 'Unsure' in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_perc_unsure")</td></tr>
			<tr><td>Median Reaction Time 'Unsure' in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_median_rt_unsure")</td></tr>
			<tr><td>Percentage No Logged Response in Random Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_random_perc_nlr")</td></tr>
			<tr><td>Percentage 'Random' in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_perc_random")</td></tr>
			<tr><td>Median Reaction Time 'Random' in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_median_rt_random")</td></tr>
			<tr><td>Percentage 'TOM' in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_perc_tom")</td></tr>
			<tr><td>Median Reaction Time 'TOM' in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_median_rt_tom")</td></tr>
			<tr><td>Percentage 'Unsure' in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_perc_unsure")</td></tr>
			<tr><td>Median Reaction Time 'Unsure' in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_median_rt_unsure")</td></tr>
			<tr><td>Percentage No Logged Response in Social (TOM) Condition</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/social_tom_perc_nlr")</td></tr>
		</tbody>
	</table>
	<h2 class="expts_header">Working Memory</h2>
	<table width="100%">
		<thead>
			<th width="75%">Measure</th><th width="25%">Score</th>
		</thead>
		<tbody>
			<tr><td>Overall Accuracy</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_acc")</td></tr>
			<tr><td>Overall Reaction Time</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_median_rt")</td></tr>
			<tr><td>Accuracy for 2-back</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_acc")</td></tr>
			<tr><td>Median Reaction Time for 2-back</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_median_rt")</td></tr>
			<tr><td>Accuracy for 0-back</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_acc")</td></tr>
			<tr><td>Median Reaction Time for 0-back</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_median_rt")</td></tr>
			<tr><td>Accuracy for 0-back Body</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_body_acc")</td></tr>
			<tr><td>Accuracy for 0-back Body Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_body_acc_target")</td></tr>
			<tr><td>Accuracy for 0-back Body Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_body_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 0-back Face</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_face_acc")</td></tr>
			<tr><td>Accuracy for 0-back Face Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_face_acc_target")</td></tr>
			<tr><td>Accuracy for 0-back Face Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_face_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 0-back Place</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_place_acc")</td></tr>
			<tr><td>Accuracy for 0-back Place Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_place_acc_target")</td></tr>
			<tr><td>Accuracy for 0-back Place Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_place_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 0-back Tool</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_tool_acc")</td></tr>
			<tr><td>Accuracy for 0-back Tool Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_tool_acc_target")</td></tr>
			<tr><td>Accuracy for 0-back Tool Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_tool_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 2-back Body</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_body_acc")</td></tr>
			<tr><td>Accuracy for 2-back Body Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_body_acc_target")</td></tr>
			<tr><td>Accuracy for 2-back Body Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_body_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 2-back Face</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_face_acc")</td></tr>
			<tr><td>Accuracy for 2-back Face Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_face_acc_target")</td></tr>
			<tr><td>Accuracy for 2-back Face Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_face_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 2-back Place</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_place_acc")</td></tr>
			<tr><td>Accuracy for 2-back Place Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_place_acc_target")</td></tr>
			<tr><td>Accuracy for 2-back Place Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_place_acc_nontarget")</td></tr>
			<tr><td>Accuracy for 2-back Tool</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_tool_acc")</td></tr>
			<tr><td>Accuracy for 2-back Tool Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_tool_acc_target")</td></tr>
			<tr><td>Accuracy for 2-back Tool Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_tool_acc_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 0-back Body</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_body_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 0-back Body Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_body_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 0-back Body Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_body_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 0-back Face</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_face_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 0-back Face Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_face_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 0-back Face Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_face_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 0-back Place</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_place_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 0-back Place Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_place_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 0-back Place Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_place_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 0-back Tool</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_tool_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 0-back Tool Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_tool_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 0-back Tool Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_0bk_tool_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 2-back Body</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_body_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 2-back Body Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_body_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 2-back Body Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_body_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 2-back Face</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_face_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 2-back Face Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_face_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 2-back Face Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_face_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 2-back Place</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_place_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 2-back Place Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_place_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 2-back Place Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_place_median_rt_nontarget")</td></tr>
			<tr><td>Median Reaction Time for 2-back Tool</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_tool_median_rt")</td></tr>
			<tr><td>Median Reaction Time for 2-back Tool Targets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_tool_median_rt_target")</td></tr>
			<tr><td>Median Reaction Time for 2-back Tool Nontargets</td><td>$!item.getDoubleProperty("hcp:taskPerformanceData/wm_2bk_tool_median_rt_nontarget")</td></tr>
		</tbody>
	</table>
</div>

<BR>#parse("/screens/ReportProjectSpecificFields.vm")
