#* @vtlvariable name="query" type="java.lang.String" *#
<!-- BEGIN templates/screens/XDATScreen_download_packages.vm -->

<link type="text/css" rel="stylesheet" href="$content.getURI('style/downloadPackages_v2.css')">
##<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/xModal2/xModal2.css')">

##$content.getURI('')
<script>
    var curr_proj= "$projectId";
	var alertProjectChange = "true"; // alert users upon project change.
</script>
<!-- download ui code starts here -->







##


<!-- CONTAINER FOR ALL TEMPLATES -->
<div id="dp-templates" class="templates off-page" style="opacity:0.01;"><div>

    <!-- OLD MASTER TEMPLATE FOR FILTER -->
    <table class="template filter-left-template-old">
        <tbody>
        <tr class="filter title __CLASSNAMES__"><th><span><b>__FILTER_LABEL__</b></span></th></tr>
        <tr class="filter options __CLASSNAMES__"><td><span class="__CLASSNAMES__">__FILTER_OPTIONS__</span></td></tr>
        </tbody>
    </table>

    <!-- NEW MASTER TEMPLATE FOR FILTER -->
    <div class="template filter-left-template">
        <p class="filter title">__FILTER_LABEL__</p>
        __FILTER_OPTIONS__
    </div>

    <!-- TEMPLATE FOR "SELECT" FILTERS -->
    <select class="template filter-select-option-template">
        <option title="__OPTION_LABEL__" value="__OPTION_VALUE__">__OPTION_LABEL__</option>
    </select>

    <!-- TEMPLATE FOR "MULTI" FILTERS -->
    <div class="template filter-multi-option-template">
        <a href="javascript:" title="__OPTION_LABEL__" class="__CLASSNAMES__" id="__OPTION_NAME__">__OPTION_LABEL__</a>
    </div>

##
    <div id="no_match" style="display:none;">
        <div class="no_matches" style="display:none;position:relative;margin-top:12px;padding:30px 30px;text-align:center;background:#f0f0f0;border:1px solid #ddd;">
            <p>No packages match the current filter selection. Please modify your selection or <a href="javascript:" class="reset_filters">reset the keyword filters</a>.</p>
        </div>
    </div>

    <!-- MASTER TEMPLATE FOR PACKAGE -->
    <div class="template package-template">
        <div data-keywords="__PACKAGE_KEYWORDS__" id="__PACKAGE_ID__" class="__CLASSNAMES__">

            <input type="hidden" value="0" class="match_count">

            <a class="pkg_icon add_to_queue" href="javascript:">
                <img width="52" height="52" title="add to queue" alt="package" src="$content.getURI('images/_.gif')">
            </a>

            <div class="pkg_top">
                <h5><a class="package_title add_to_queue" href="javascript:">__PACKAGE_LABEL__</a></h5>
                <div class="summaries">
                    <span data-subjects-ok="__SUBJECTS_COUNT_OK__" class="subjects_ok">__SUBJECTS_COUNT_OK_FORMATTED__</span> of
                    <span data-subjects-all="__SUBJECTS_COUNT_ALL__" class="subjects_all">__SUBJECTS_COUNT_ALL_FORMATTED__</span> subjects OK
                    &nbsp; &ndash; &nbsp;
                    <b><span data-pkg-count="__PACKAGE_FILE_COUNT__" class="pkg_count">__PACKAGE_FILE_COUNT_FORMATTED__</span> files,
                        <span data-pkg-size="__PACKAGE_FILE_SIZE__" class="pkg_size">__PACKAGE_FILE_SIZE_FORMATTED__</span></b>
                </div>
                <div class="clear"></div>
            </div>

            <div class="pkg_bottom">
                <a class="add_to_queue queue_button" href="javascript:"><img width="139" height="20" title="queue for download" alt="queue" src="$content.getURI('images/_.gif')"></a>
                <p class="pkg_desc">__PACKAGE_DESCRIPTION__</p>
                <p class="keywords filters">___PACKAGE_KEYWORD_FILTERS___</p>
                <a class="expand_details" href="javascript:">+</a>
                <div class="clear"></div>
            </div>

            <div class="pkg_preview">
                <table cellspacing="0" cellpadding="0" class="">
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" class="preview_details">
                                <tr class="labels">
                                    <th align="left">Subject</th>
                                    <th align="left">Status</th>
                                    <th align="left">File Count</th>
                                    <th align="left">Size</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    ___PACKAGE_PREVIEWS___
                </table>
            </div>

        </div>
    </div>

    <!-- TEMPLATE FOR ___PACKAGE_KEYWORD_FILTERS___ -->
    <div class="template package-keywords-template" data-template="___PACKAGE_KEYWORDS___">
        __KEYWORD_LABEL__: __KEYWORD_OPTIONS__
    </div>

    <!-- the package-keywords-separator template should just join each keyword -->
    <!-- maybe just wrap the pipe in a <b> tag and style that in the css -->
##    <style type="text/css">.keywords.filters b { margin: 0 5px ; color: #aaa ; font-weight: normal ; }</style>
    <div class="template package-keywords-separator-template" data-template="___PACKAGE_KEYWORDS_SEPARATOR___">
        <b>|</b>
    </div>
    <div class="template disabled">
        <span style="margin:0 5px;color:#aaa;">|</span>
    </div>

    <!-- TEMPLATE FOR ___PACKAGE_PREVIEWS___ -->
    <table class="template package-previews-template" data-template="___PACKAGE_PREVIEWS___">
        <tr class="subject">
            <td class="label">__SUBJECT_ID__</td>
            <td class="status">__SUBJECT_STATUS__</td>
            <td data-count="__SUBJECT_FILE_COUNT__" class="count">__SUBJECT_FILE_COUNT_FORMATTED__</td>
            <td data-size="__SUBJECT_FILE_SIZE__" class="size">__SUBJECT_FILE_SIZE_FORMATTED__</td>
        </tr>
    </table>

</div></div>
<!-- TEMPLATES END -->










<div id="image_loader" class="off-page">
    <img src="$content.getURI('style/images/pkg-icon.png')" alt="">
    <img src="$content.getURI('style/images/pkg-icon-hover.png')" alt="">
    <img src="$content.getURI('style/images/pkg-icon-queued.png')" alt="">
    <img src="$content.getURI('style/images/pkg-icon-remove.png')" alt="">
    <img src="$content.getURI('style/images/queue_button.png')" alt="">
    <img src="$content.getURI('style/images/queue_button_hover.png')" alt="">
    <img src="$content.getURI('style/images/queue_button_queued.png')" alt="">
    <img src="$content.getURI('style/images/queue_button_remove.png')" alt="">
    <img src="$content.getURI('style/images/queue_button_disabled.png')" alt="">
</div>

<h1 id="page-title">Download Packages: $projectName</h1>

<div id="packages_container">

##    <!-- <h3>Subject Group: <a id="subject_group_name" href="javascript:">[subject_group_name]</a></h3> -->

    <div id="subject_filters" style="padding:10px;background:#f8f8f8;border:1px solid #e0e0e0;word-wrap:break-word;">
        <p style="color:#666;"><a style="font-weight: bold;" href="javascript:">Click to view subject filter criteria.</a> (from previous page)</p>
        <ul style="display:none;">
            <li>$!query</li>
        </ul>
    </div>

    <div class="packages_top"><div>
        <div class="totals top" style="float:right;text-align:right;">
            <b>Total Queued:</b> <span class="total_packages" data-count-packages="0">0</span> package<span class="plural">s</span><span class="hidden_packages"></span>:
            <span class="total_count" data-count-total="0">0</span> file<span class="plural">s</span>, <span class="total_size" data-size-total="0">0 B</span>
            <div class="download_packages buttons" style="padding-top:5px;">
                <button class="select_all rounded">Select All</button>
                <button class="reset rounded">Clear Selection</button>
                <button class="download_packages_button download rounded">Download Packages</button>
            </div>
        </div>
        <h4>Select Packages to Download:</h4>
        <p class="notes">
            Click an icon or package title to add it to the download queue.<br>
            Click "Download Packages" to begin the download process.
        </p>

        <div id="filters" class="filters keywords" style="display:none;"><div>
            <!-- filters go here -->
            <hr size="1" color="#ccc" style="height:0;margin:19px 1px 15px;border-top:1px solid #d3d3d3;">
            <button class="reset_filters rounded button">Reset Filters</button>
        </div></div>

        <!-- /#filters.keywords -->

        <div id="packages" style="display:none;">
            <!-- dynamically build list of packages -->

            <div class="clear"></div>

        </div><!-- /#packages -->

        <div class="clear"></div>

        <div id="download_box" style="display:none;">

            <div class="download_packages buttons">
                <button class="select_all rounded">Select All</button>
                <button class="reset rounded">Clear Selection</button>
                <button class="download_packages_button download rounded">Download Packages</button>
            </div>

            <div class="totals">
                <b>Total Queued:</b> <span class="total_packages" data-count-packages="0">0</span> package<span class="plural">s</span><span class="hidden_packages"></span>: <span class="total_count" data-count-total="0">0</span> file<span class="plural">s</span>, <span class="total_size" data-size-total="0">0 B</span>
            </div>

            <div class="clear"></div>

        </div>

        <div class="clear"></div>

        <div id="loading_packages" style="display:block;height:400px;position:relative;">
            <p style="width:100%;height:200px;margin-top:-50px;position:absolute;left:0;top:50%;line-height:40px;vertical-align:middle;text-align:center;">Loading packages...</p>
        </div>

    </div>
    </div>
</div>
<!-- /#packages_container -->




<!-- download ui code ends here -->
##<script type="text/javascript" src="$content.getURI("scripts/xModal2/xModal2.js")"></script>
<script type="text/javascript">
    window.dpSelected = "$selected"; // set default 'selected' filters here as a comma-separated list (no spaces) - probably with Velocity?
</script>
<script type="text/javascript" src="$content.getURI("scripts/downloadManager/downloadPackages_v2.js")"></script>

<form id="downloadPackagesForm" name="downloadPackagesForm" method="post" action="$link.setAction("ChooseDownloadPackages")" style="display:none;">
    <input type="hidden" id="projectId" name="projectId" value="$projectId" />
    #foreach($subject in $subjects)
        <input type="hidden" name="subject" value="$subject" />
    #end
    <input type="hidden" id="packageIdCsv" name="packageIdCsv" />
</form>

<!--END templates/screens/XDATScreen_download_packages.vm -->
