
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Session</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_ID"))
		</TD>
		
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>MR Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_DATE"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
	</TR>
	<TR>
		<TD>fsversion</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("FSVERSION"))
		</TD>
		
		<TD>ICV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_ICV"))
		</TD>
		
		<TD>lhCortexVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_LHCORTEXVOL"))
		</TD>
		
		<TD>rhCortexVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_RHCORTEXVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>CortexVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_CORTEXVOL"))
		</TD>
		
		<TD>SubCortGrayVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_SUBCORTGRAYVOL"))
		</TD>
		
		<TD>TotalGrayVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_TOTALGRAYVOL"))
		</TD>
		
		<TD>SupraTentorialVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_SUPRATENTORIALVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>lhCorticalWhiteMatterVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_LHCORTICALWHITEMATTERVOL"))
		</TD>
		
		<TD>rhCorticalWhiteMatterVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_RHCORTICALWHITEMATTERVOL"))
		</TD>
		
		<TD>CorticalWhiteMatterVol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_CORTICALWHITEMATTERVOL"))
		</TD>
		
		<TD>L.Numvert</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_NUMVERT"))
		</TD>
		
	</TR>
	<TR>
		<TD>R.NumVert</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("R_NUMVERT"))
		</TD>
		
		<TD>L.SurfArea</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_SURFAREA"))
		</TD>
		
		<TD>R.SurfArea</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("R_SURFAREA"))
		</TD>
		
		<TD>bankssts L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_BANKSSTS_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>caudalanteriorcingulate L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CAUDALANTERIORCINGULATE_L_GRAYVOL"))
		</TD>
		
		<TD>caudalmiddlefrontal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CAUDALMIDDLEFRONTAL_L_GRAYVOL"))
		</TD>
		
		<TD>corpuscallosum L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CORPUSCALLOSUM_L_GRAYVOL"))
		</TD>
		
		<TD>cuneus L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CUNEUS_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>entorhinal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ENTORHINAL_L_GRAYVOL"))
		</TD>
		
		<TD>frontalpole L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_FRONTALPOLE_L_GRAYVOL"))
		</TD>
		
		<TD>fusiform L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_FUSIFORM_L_GRAYVOL"))
		</TD>
		
		<TD>inferiorparietal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_INFERIORPARIETAL_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>inferiortemporal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_INFERIORTEMPORAL_L_GRAYVOL"))
		</TD>
		
		<TD>isthmuscingulate L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ISTHMUSCINGULATE_L_GRAYVOL"))
		</TD>
		
		<TD>lateraloccipital L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_LATERALOCCIPITAL_L_GRAYVOL"))
		</TD>
		
		<TD>lateralorbitofrontal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_LATERALORBITOFRONTAL_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>lingual L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_LINGUAL_L_GRAYVOL"))
		</TD>
		
		<TD>medialorbitofrontal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_MEDIALORBITOFRONTAL_L_GRAYVOL"))
		</TD>
		
		<TD>middletemporal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_MIDDLETEMPORAL_L_GRAYVOL"))
		</TD>
		
		<TD>paracentral L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARACENTRAL_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>parahippocampal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARAHIPPOCAMPAL_L_GRAYVOL"))
		</TD>
		
		<TD>parsopercularis L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARSOPERCULARIS_L_GRAYVOL"))
		</TD>
		
		<TD>parsorbitalis L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARSORBITALIS_L_GRAYVOL"))
		</TD>
		
		<TD>parstriangularis L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARSTRIANGULARIS_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>pericalcarine L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PERICALCARINE_L_GRAYVOL"))
		</TD>
		
		<TD>postcentral L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_POSTCENTRAL_L_GRAYVOL"))
		</TD>
		
		<TD>posteriorcingulate L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_POSTERIORCINGULATE_L_GRAYVOL"))
		</TD>
		
		<TD>precentral L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PRECENTRAL_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>precuneus L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PRECUNEUS_L_GRAYVOL"))
		</TD>
		
		<TD>rostralanteriorcingulate L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ROSTRALANTERIORCINGULATE_L_GRAYVOL"))
		</TD>
		
		<TD>rostralmiddlefrontal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ROSTRALMIDDLEFRONTAL_L_GRAYVOL"))
		</TD>
		
		<TD>superiorfrontal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPERIORFRONTAL_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>superiorparietal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPERIORPARIETAL_L_GRAYVOL"))
		</TD>
		
		<TD>superiortemporal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPERIORTEMPORAL_L_GRAYVOL"))
		</TD>
		
		<TD>supramarginal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPRAMARGINAL_L_GRAYVOL"))
		</TD>
		
		<TD>temporalpole L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_TEMPORALPOLE_L_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>transversetemporal L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_TRANSVERSETEMPORAL_L_GRAYVOL"))
		</TD>
		
		<TD>unknown L. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_UNKNOWN_L_GRAYVOL"))
		</TD>
		
		<TD>bankssts R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_BANKSSTS_R_GRAYVOL"))
		</TD>
		
		<TD>caudalanteriorcingulate R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CAUDALANTERIORCINGULATE_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>caudalmiddlefrontal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CAUDALMIDDLEFRONTAL_R_GRAYVOL"))
		</TD>
		
		<TD>corpuscallosum R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CORPUSCALLOSUM_R_GRAYVOL"))
		</TD>
		
		<TD>cuneus R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_CUNEUS_R_GRAYVOL"))
		</TD>
		
		<TD>entorhinal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ENTORHINAL_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>frontalpole R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_FRONTALPOLE_R_GRAYVOL"))
		</TD>
		
		<TD>fusiform R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_FUSIFORM_R_GRAYVOL"))
		</TD>
		
		<TD>inferiorparietal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_INFERIORPARIETAL_R_GRAYVOL"))
		</TD>
		
		<TD>inferiortemporal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_INFERIORTEMPORAL_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>isthmuscingulate R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ISTHMUSCINGULATE_R_GRAYVOL"))
		</TD>
		
		<TD>lateraloccipital R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_LATERALOCCIPITAL_R_GRAYVOL"))
		</TD>
		
		<TD>lateralorbitofrontal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_LATERALORBITOFRONTAL_R_GRAYVOL"))
		</TD>
		
		<TD>lingual R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_LINGUAL_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>medialorbitofrontal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_MEDIALORBITOFRONTAL_R_GRAYVOL"))
		</TD>
		
		<TD>middletemporal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_MIDDLETEMPORAL_R_GRAYVOL"))
		</TD>
		
		<TD>paracentral R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARACENTRAL_R_GRAYVOL"))
		</TD>
		
		<TD>parahippocampal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARAHIPPOCAMPAL_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>parsopercularis R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARSOPERCULARIS_R_GRAYVOL"))
		</TD>
		
		<TD>parsorbitalis R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARSORBITALIS_R_GRAYVOL"))
		</TD>
		
		<TD>parstriangularis R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PARSTRIANGULARIS_R_GRAYVOL"))
		</TD>
		
		<TD>pericalcarine R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PERICALCARINE_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>postcentral R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_POSTCENTRAL_R_GRAYVOL"))
		</TD>
		
		<TD>posteriorcingulate R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_POSTERIORCINGULATE_R_GRAYVOL"))
		</TD>
		
		<TD>precentral R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PRECENTRAL_R_GRAYVOL"))
		</TD>
		
		<TD>precuneus R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_PRECUNEUS_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>rostralanteriorcingulate R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ROSTRALANTERIORCINGULATE_R_GRAYVOL"))
		</TD>
		
		<TD>rostralmiddlefrontal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_ROSTRALMIDDLEFRONTAL_R_GRAYVOL"))
		</TD>
		
		<TD>superiorfrontal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPERIORFRONTAL_R_GRAYVOL"))
		</TD>
		
		<TD>superiorparietal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPERIORPARIETAL_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>superiortemporal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPERIORTEMPORAL_R_GRAYVOL"))
		</TD>
		
		<TD>supramarginal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_SUPRAMARGINAL_R_GRAYVOL"))
		</TD>
		
		<TD>temporalpole R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_TEMPORALPOLE_R_GRAYVOL"))
		</TD>
		
		<TD>transversetemporal R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_TRANSVERSETEMPORAL_R_GRAYVOL"))
		</TD>
		
	</TR>
	<TR>
		<TD>unknown R. GRAYVOL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("_UNKNOWN_R_GRAYVOL"))
		</TD>
		
	</TR>
</TABLE>
